# MacOS system files
*.DS_Store

# Editor settings (allow templates and recommended extensions)
.vscode/*
.cursor/*
!.vscode/extensions.json

# Dependencies
node_modules

# Compiled files
dist/
build/
.eslintcache

# Debug / temporary folders
debug/
ignored/
tmp/
temp/

# Test Output
coverage/